body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.to-do-item-text {
  max-width: 150px;
}

.strike {
  text-decoration: line-through;
}
.to-do-item {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  padding: 5px;
}

.button-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
  min-height: 35px;
  width: 120px;
}
.input-wrapper {
  min-width: 250px;
  margin-right: 5px;
}
.input-container {
  margin: 20px;
}
